{% extends '../base.html' %}

{% block TITLE %} - Home{% endblock TITLE %}

{% block CONTENT %}
{% if 'VISIT' in request.session.TEST %}
{% else %}
<div id="CookiePreferenceWrapper">
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="CookiePreferences" id="CookiePreferenceAccept" value="Accept" checked>
        <label class="form-check-label" for="CookiePreferenceAccept">Accept</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="CookiePreferences" id="CookiePreferenceDecline" value="Decline">
        <label class="form-check-label" for="CookiePreferenceDecline">Decline</label>
    </div>
    <button id="CookiePreferencesSubmit" class="btn btn-primary" type="submit">Button</button>
</div>
<script>

    var csrfToken = '{{csrf_token}}'
    wrapper = document.getElementById('CookiePreferenceWrapper')
    button = document.getElementById('CookiePreferencesSubmit')

    button.onclick = () => {
        const requestObj = new XMLHttpRequest()
        requestObj.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                console.log(this.responseText)
            }
        }


        requestObj.open("POST", '{% url "cookie" %}')
        requestObj.setRequestHeader('X-CSRFToken', csrfToken)

        const formdata = new FormData()

        accepted_radio = document.getElementById('CookiePreferenceAccept').checked
        declined_radio = document.getElementById('CookiePreferenceDecline').checked

        formdata.append('accepted', accepted_radio)
        formdata.append('declined', declined_radio)

        requestObj.send(formdata)

        wrapper.remove()
    }

</script>
{% endif %}
{% endblock CONTENT %}