{% extends '../base.html' %}

{% block TITLE %} - Home{% endblock TITLE %}

{% block NAVIGATION %}
{% endblock NAVIGATION %}

{% block CONTENT %}
<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-light">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 min-vh-100">
                    
            </div>
        </div>
        <!--  CONTENT -->
        <!-- CONTENT -->
    </div>
</div>
{% endblock CONTENT %}